<div id="login" class=" mt-3">
    <picture>
        <img src="../../../assets/icons/Escudo.svg" class="img-fluid mt-3 mb-2" alt="">
    </picture>
    <h1>Ingreso seguro</h1>
    <h2>Un código de verificacion fue enviado a tu correo, porfavor introdúcelo.</h2>
    <form>
        <div class="form-group ">
            <input type="text" class="" placeholder="Ingresa tu código de verificación">
        </div>

        <button  (click)="onSubmit()" id="btnSubmit" class="text-left">ENTRAR</button>
    </form>
</div>