<div class="container-fluid">
    <header>
        <div class="row">
            <div class="col">
                <p id="help">¿necesitas ayuda?</p>
            </div>
        </div>
    </header>
    <div id="content" class="row justify-content-center">
        <div id="responsiveBox" class="col-xs-8 col-md-6 col-lg-4 text-center">
            <picture>
                <img src="../../../assets/icons/LogoEmpresas_V2.png" class="img-fluid" alt="">
            </picture>
            <router-outlet></router-outlet>
            <a href="">
                <h3 id="linkEnterprise" >
                    ¿Quieres vincular tu empresa a Coink? 
                </h3>
            </a>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col ">
                <p>Copyright © 2018 Coink S.A</p>
            </div>
        </div>
    </footer>
</div>