<div id="login" class=" mt-3">

    <h1>Ingresa a tú cuenta</h1>
    <form [formGroup]="formulario" (ngSubmit)="login(form)" #form="ngForm">

        <div class="form-group ">
            <input type="text" placeholder="Usuario" formControlName="usuario">
            <small *ngIf="nombreNovalido" class="text-danger ">
                Algo anda mal con tu usuario
            </small>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Contraseña" formControlName="contrasena">
            <small *ngIf="contrasenaNovalido" class="text-danger">
                Algo anda mal con tu contraseña
            </small>
        </div>

        <button type="submit" [routerLink]="['/crisis-center']" id="btnSubmit" class="text-left">Ingresar</button>
        <a href="">
            <h3 class="text-left forgot">Olvide mi Pin</h3>
        </a>
        <a href="">
            <h3 class="text-left forgot ">
                Olvide mi número de celular empresarial
            </h3>
        </a>
    </form>

</div>